* {
  color: aliceblue;
  font-family: DynaPuff;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 4rem;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

.section {
  background-color: rgba(17, 18, 18,0.9);
  border: 10px, white, solid;
  border-radius: 8px;
  margin: 2rem;
}

p {
  font-family: "Bad Script";
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 1rem 1rem 0rem 1rem;
  display: grid;
  max-height: 250px;  /* controls when scroll starts */
  overflow-y: auto; 
  grid-template-columns: 1fr 1fr 1fr;
}

li {
  padding: 1rem;
}

button {
  color: black;
  padding: 1px 9px;
  border-radius: 10px;
  transition: 0.5s;
  margin-top: 0.5rem;
}

.createButton {
  margin-bottom: 1rem;
}

button:hover {
  scale: 1.2;
}

body {
  background-image: url('./assets/pngtree-cozy-mountain-cabin-retreat-with-campfire-and-serene-landscape-peaceful-tranquil-image_16364855.jpg');
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat;
  height: 100vh;
}

input {
  font-size: 1.2rem;
  background-color: rgba(17, 18, 18,0.5);
  border: 0px, rgba(17, 18, 18,0.9), solid;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
}

